{{!< default}}
{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}
{{! Everything inside the #post tags pulls data from the post }}
{{#contentFor "customBodyClass"}}auto-col{{/contentFor}}
{{#post}}
<div id="main-content">
    <div class="post-header">
        <div class="pull-left post-title">
            <h2>{{{title}}}</h2>
        </div>
        <div class="pull-right post-tools">
            <div class="search-box">
                <a id="btn-search" class="btn btn-theme">
                    <span>Search</span> <i class="fa fa-search"></i>
                </a>
                <div class="search-form">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <input type="text" class="form-control" id="search-keyword" placeholder="Enter keyword"/>
                        </div>
                    </form>
                    <div id="search-result"></div>
                </div>
            </div>
            <div class="share-box">
                <a id="btn-share" href="javascript:;" class="btn btn-theme">
                    Share <span class="caret"></span>
                </a>
                <div class="share-box-content">
                    <ul class="social active">
                        <li class="twitter">
                            <a href="http://twitter.com/share?text={{encode title}}&url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" title="Twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="facebook">
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="google">
                            <a href="https://plus.google.com/share?url={{url absolute="true"}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" title="Google">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                        <li class="linkedin">
                            <a href="http://www.linkedin.com/shareArticle?mini=true&url={{url absolute="true"}}&title={{encode title}}&summary={{encode excerpt}}&source={{@blog.url}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" title="Linkedin">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <a id="turncomment" href="javascript:;" class="btn btn-theme">
                {{!>facebook-comment-count}}
                {{!>googleplus-comment-count}}
                {{>disqus-comment-count}}
            </a>
        </div>
    </div>
    <main class="body-content" role="main">
        <div class="post-wrap">
            <article class="{{post_class}}">
                <section class="post-content">
                    {{content}}
                </section>
                <footer class="post-footer">
                    {{! Everything below outputs content of the the post which has been published }}
                    <div class="post-meta">
                        <span>
                            <i class="fa fa-calendar"></i>
                            <time datetime="{{date format="YYYY-MM-DD"}}">
                                {{date format='DD MMM YYYY'}}
                            </time>
                        </span>
                        <span>
                            <i class="fa fa-user"></i> by {{author.name}}
                        </span>
                        {{#if tags}}
                        <span>
                            <i class="fa fa-tags"></i> {{tags separator=" | "}}
                        </span>
                        {{/if}}
                        <span class="share">
                            <span class="title">Share this post:</span>
                            <ul class="social active">
                                <li class="twitter">
                                    <a href="http://twitter.com/share?text={{encode title}}&url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" title="Twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="facebook">
                                    <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" title="Facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="google">
                                    <a href="https://plus.google.com/share?url={{url absolute="true"}}"
                                    onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" title="Google">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                                <li class="linkedin">
                                    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{url absolute="true"}}&title={{encode title}}&summary={{encode excerpt}}&source={{@blog.url}}"  onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" title="Linkedin">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </span>
                    </div>
                    {{#if author}}
                    <div class="post-author">
                        {{#if author.image}}
                        <!-- Author avatar -->
                        <div class="avatar">
                            <img src="{{author.image}}" alt="{{author.name}}" />
                        </div>
                        {{/if}}
                        <h5 class="author-name">{{author.name}}</h5>
                        <p>
                            {{author.bio}}
                        </p>
                    </div>
                    {{/if}}
                </footer>
            </article>
        </div>
    </main>
</div>
<div class="comment-box">
    {{> comment-form}}
</div>
{{/post}}